apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: "{{ k8s_api_skip_tls_verify|default(false) }}"
    server: "{{ k8s_api_url }}"
  name: cluster
contexts:
- context:
    cluster: cluster
    user: user1
  name: cluster/user1
current-context: cluster/user1
kind: Config
preferences: {}
users:
- name: "{{ k8s_api_username|default('doesntmatter') }}"
  user:
{% if k8s_api_token %}
    token: {{ k8s_api_token }}
{% else %}
    password: {{ k8s_api_password }}
{% endif %}
